/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {
/*menu start*/
.menu ul li a {
    font-size: 14px;
    padding: 1px 0 !important;
    text-align: right;
}
/*menu end*/
/*slider start*/
.content{
	margin: 0;
}
.car_in {
    bottom: -2px;
}
.car_in li {
    width: 10px;
    height: 10px;
}
.heading {
    font-size: 14px;
    padding-top: 0px;
}
.big_heading {
    font-size: 31px;
    margin: 10px 0 32px;
}
.btn_c {
    margin-bottom: 57px;
    padding: 2px 4px;
    font-size: 14px;
}
/*slider end*/
/*web_i start*/
.w_development {
    padding: 25px 0;
}
.tc{
    text-align: center !important;
}
.web_text {
    margin-top: 20px;
}
.w_heading {
    font-size: 26px;
}
.sub_heading {
    font-size: 26px;
}
.w_details {
    font-size: 16px;
    line-height: 20px;
}
.i_branding {
    padding: 25px 0;
}
/*web_i end*/
/*service start*/
.service {
    padding: 25px 0;
}
.single_item {
    margin: 0px 0;
}
.icon {
    font-size: 40px;
}
.icon_text {
    margin-top: 0px;
}
.icon_heading {
    font-size: 22px;
}
.icon_p {
    font-size: 16px;
}
/*service end*/
/*awesome clients start*/
.clients{
    padding: 25px 0;
}
.client_text {
    margin-top: 0px;
}
.black_icon {
    margin-top: 15px;
}
/*awesome clients end*/
/*website start*/
.website {
    padding: 15px 0;
}
/*website end*/
/*amazing team start*/
.team{
    padding: 25px 0;
}
.team_d {
    margin-top: 10px;
}
.team_last {
    font-size: 16px;
}
/*amazing team end*/
/*hello start*/
.hello{
    padding: 25px 0;
}
.font_t{
    text-align: center;
}
.fc {
    font-size: 16px;
}
/*hello end*/
/*footer start*/
footer{
    padding: 10px 0;
}
/*footer end*/
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {
/*menu start*/
.menu ul li a {
    font-size: 16px;
    padding: 3px 0 !important;
    text-align: right;
}
/*menu end*/
/*slider start*/
.content{
	margin: 0;
}
.car_in {
    bottom: 5px;
}
.car_in li {
    width: 12px;
    height: 12px;
}
.heading {
    font-size: 18px;
    padding-top: 40px;
}
.big_heading {
    font-size: 44px;
    margin: 10px 0 40px;
}
.btn_c {
    margin-bottom: 75px;
    padding: 4px 12px;
}
/*slider end*/
/*web_i start*/
.w_development {
    padding: 40px 0;
}
.w_heading {
    font-size: 30px;
}
.sub_heading {
    font-size: 30px;
}
.w_details {
    font-size: 16px;
    line-height: 20px;
}
.i_branding {
    padding: 40px 0;
}
/*web_i end*/
/*service start*/
.service {
    padding: 30px 0;
}
.single_item {
    margin: 10px 0;
}
.icon {
    font-size: 45px;
}
.icon_heading {
    font-size: 22px;
}
/*service end*/
/*awesome clients start*/
.clients{
    padding: 40px 0;
}
.black_icon {
    margin-top: 35px;
}
/*awesome clients end*/
/*website start*/
.website {
    padding: 30px 0;
}
/*website end*/
/*amazing team start*/
.team{
    padding: 40px 0;
}
.team_d {
    margin-top: 20px;
}
/*amazing team end*/
/*hello start*/
.hello{
    padding: 40px 0;
}
.font_t{
    text-align: center;
}
/*hello end*/
/*footer start*/
footer{
    padding: 20px 0;
}
/*footer end*/
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {
/*menu start*/
.menu ul li a {
    padding-right: 0!important;
    text-align: right;
}
/*menu end*/
/*slider start*/
/*.car_in {
    bottom: 12px;
}
.car_in li {
    width: 13px;
    height: 13px;
}
.content{
    margin: 10px 0;
}
.heading {
    font-size: 20px;
    padding-top: 40px;
}
.big_heading {
    font-size: 52px;
    margin: 25px 0 50px;
}
.btn_c {
    margin-bottom: 78px;
    padding: 8px 20px;
}*/
/*slider end*/
/*web_i start*/

/*web_i end*/
/*service start*/

/*service end*/
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {
/*slider start*/
.car_in {
    bottom: 30px;
}
.car_in li {
    width: 15px;
    height: 15px;
}
.content{
    margin: 130px 0;
}
.heading {
    font-size: 25px;
}
.big_heading {
    font-size: 70px;
    margin: 20px 0 100px;
}
.btn_c {
    margin-bottom: 10px;
    padding: 12px 40px;
}
/*slider end*/
/*web_i start*/
.w_development {
    padding: 90px 0;
}
.w_heading {
    font-size: 60px;
}
.sub_heading {
    font-size: 60px;
}
.w_details {
    font-size: 18px;
}
.i_branding {
    padding: 90px 0;
}
/*web_i end*/
/*service start*/
.service {
    padding: 70px 0;
}
.single_item {
    margin: 20px 0;
}
.icon_heading {
    font-size: 25px;
}
.icon_p {
    font-size: 18px;
}
/*service end*/
/*awesome clients start*/
.clients{
    padding: 90px 0;
}
.black_icon{
    margin-top: 15px;
}
.client_text{
    margin-top: 40px;
}
/*awesome clients start*/
/*amazing team start*/
.team{
    padding: 90px 0;
}
.team_d {
    margin-top: 50px;
}
/*amazing team end*/
/*hello start*/
.hello{
    padding: 90px 0;
}
/*hello end*/
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
/*slider start*/
.car_in {
    bottom: 30px;
}
.car_in li {
    width: 15px;
    height: 15px;
}
.content{
    margin: 130px 0;
}
.heading {
    font-size: 25px;
}
.big_heading {
    font-size: 70px;
    margin: 20px 0 100px;
}
.btn_c {
    margin-bottom: 10px;
    padding: 12px 40px;
}
/*slider end*/
/*web_i start*/
.w_development {
    padding: 90px 0;
}
.w_heading {
    font-size: 60px;
}
.sub_heading {
    font-size: 60px;
}
.w_details {
    font-size: 18px;
}
.i_branding {
    padding: 90px 0;
}
/*web_i end*/
/*service start*/
.service {
    padding: 70px 0;
}
.single_item {
    margin: 20px 0;
}
.icon_heading {
    font-size: 25px;
}
.icon_p{
     font-size: 18px;
    letter-spacing: 0.5px;
}
/*service end*/
/*awesome clients start*/
.clients{
    padding: 90px 0;
}
.black_icon{
    margin-top: 10px;
}
.client_text{
    margin-top: 40px;
}
/*awesome clients start*/
/*amazing team start*/
.team{
    padding: 90px 0;
}
.team_d {
    margin-top: 50px;
}
/*amazing team end*/
/*hello start*/
.hello{
    padding: 90px 0;
}
/*hello end*/
}